POSTGRES_NAME="hmlem"
POSTGRES_USER="postgres"
# openssl rand -base64 8
POSTGRES_PASS="7xyed8uDyi0="
POSTGRES_PORT=55432
# Porta que executa o banco de dados de teste
POSTGRES_TEST_PORT=55433
FLASKAPP_PORT=5006
APP_PORT=83
FRONTEND_PORT=3002

# Gerar hash aleatório para criptografia
# python -c 'import secrets; print(secrets.token_hex())'
SECRET_KEY=

# Gerar senha aleatória
MASTER_KEY=