aiohttp==3.8.3
aiosignal==1.3.1
alembic==1.8.1
anyio==3.6.1
ariadne==0.15.1
async-timeout==4.0.2
attrs==22.1.0
backoff==2.2.1
bcrypt==4.0.1
beautifulsoup4==4.10.0
botocore==1.29.8
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.0.12
click==8.1.3
colander==1.8.3
Flask==2.2.2
Flask-Alembic==2.0.1
Flask-AutoCRUD==2.2.1
Flask-CLI==0.4.0
Flask-Cors==3.0.10
Flask-ErrorsHandler==4.0.2
Flask-Logify==2.4.5
Flask-Login==0.6.1
flask-marshmallow==0.14.0
Flask-Migrate==3.1.0
Flask-ResponseBuilder==2.0.16
Flask-Scss==0.5
Flask-SQLAlchemy==3.0.2
frozenlist==1.3.3
gql==3.4.0
graphql-core==3.2.3
greenlet==1.1.3.post0
gunicorn==20.1.0
idna==3.4
importlib-metadata==5.0.0
importlib-resources==5.10.0
iniconfig==1.1.1
iso8601==1.1.0
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.1
json2html==1.3.0
Mako==1.2.3
MarkupSafe==2.1.1
marshmallow==3.18.0
marshmallow-sqlalchemy==0.28.0
multidict==6.0.2
packaging==21.3
Pillow==9.2.0
pluggy==1.0.0
py==1.11.0
pycparser==2.21
PyJWT==2.5.0
pyparsing==3.0.9
PyPDF2==2.11.1
pyScss==1.4.0
pytest==7.1.3
python-dateutil==2.8.2
PyYAML==6.0
reportlab==3.6.11
requests==2.26.0
requests-toolbelt==0.10.1
six==1.16.0
sniffio==1.3.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.41
sqlalchemy-filters==0.12.0
starlette==0.21.0
tomli==2.0.1
translationstring==1.4
typing_extensions==4.4.0
urllib3==1.26.12
validate-docbr==1.10.0
websockets==10.4
Werkzeug==2.2.2
WTForms==3.0.1
xmltodict==0.13.0
yarl==1.8.1
zipp==3.9.0
