html,
body {
    margin: 0;
    padding: 0;
}

body {
    background: #f5f5f5;
}

header {
    background: #ccc;
    padding: 16px 8px;
    margin-bottom: 16px;
    text-align: center;

    nav {
        ul {
            li {
                list-style: none;
                display: inline;
            }
        }
    }
}

footer {
    background: #ccc;
    padding: 16px 8px;
    margin-top: 16px;
    text-align: center;
}

table {
    border-collapse: collapse;
    td,
    th {
        border: 1px solid #000;
    }
}

h1,
h2,
h3 {
    margin: 0 0 2px 0;
}

.dynamic {
    color: red;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
}

.three-cols{
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
    margin: 0 5vw;
}

section {
    > section {
        padding: 5px 20px;
        background-color: #ccc;
    }
}

textarea.paragraph_to_copy {
    display: inline;
    resize: vertical;
    width: 100%;
    min-height: 40px;
    border: 0px solid transparent;
    background-color: transparent;
}

button.copy_to_clipboard {
    display: inline;
}
