{% extends 'base.html' %} {% block title %}Trechos de Exames - {% endblock
%} {% block content %}
<div class="container">
    <section>
        <h2>AESP</h2>
        <table>
            <thead>
                <tr>
                    <th>Causa</th>
                    <th>Tratamento</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><strong>H</strong>ipovolemia</td>
                    <td>Volume. 1 a 2l em adultos. 20ml/kg em crianças</td>
                </tr>
                <tr>
                    <td><strong>H</strong>ipóxia</td>
                    <td>Oxigênio (intubação orotraqueal)</td>
                </tr>
                <tr>
                    <td><strong>H</strong>ipo/hipercalemia</td>
                    <td><div>Hipercalemia: As primeiras alterações eletrocardiográficas são a diminuição do intervalor QT e a presença de onda T apiculada.</div><div>Hipercalemia: hipercalemia consiste na administração intravenosa de 20ml de gluconato de cálcio 10%, 1mEq/kg de bicarbonato de sódio 8,4% e solução polarizada composta por 50g de glicose + 10UI de insulina regular. O gluconato de cálcio é utilizado devido à capacidade do cálcio de antagonizar o efeito do potássio no potencial de membrana celular. Esse mecanismo não gera a redução dos níveis de potássio, portanto, é necessária uma terapia complementar com solução de insulina com glicose.</div></td>
                </tr>
                <tr>
                    <td><strong>H+</strong> Acidose metabólica</td>
                    <td>Bicarbonato de sódio 1 meq/kg >> NaCa2 %8,4 (1 mEq/ml) 100ml + 400 de SF = (0,2mEq/ml)</td>
                </tr>
                <tr>
                    <td><strong>H</strong>ipotermia</td>
                    <td>Aquecer</td>
                </tr>
                <tr>
                    <td><strong>T</strong>amponamento cardíaco</td>
                    <td>Agulha à 45° da pele, em direção ao ombro esquerdo, gelco 14, progride vagarosamente a agulha com vácuo, quando vier sangue retira a agulha e progride o gelco, retira apenas 20ml. Punção pericárdica (Marfan)</td>
                </tr>
                <tr>
                    <td><strong>T</strong>EP (Trombo Embolismo Pulmonar)</td>
                    <td>Volume + reversão da PCR. Tenecteplase apenas após do Retorno à Circulação Espontânea (RCE) por conta da dose dos estudos.</td>
                </tr>
                <tr>
                    <td><strong>T</strong>rombose coronariana IAM</td>
                    <td>Volume + reversão da PCR</td>
                </tr>
                <tr>
                    <td><strong>T</strong>rauma/Tensão no tórax/Pneumotórax hipertensivo</td>
                    <td>Punção torácica de alívio: gelco 14 à 90° 2° espaço intercostal, linha hemiclavicular (sempre na borda SUPERIOR da costela por conta do feixe vasculonervoso</td>
                </tr>
                <tr>
                    <td><strong>T</strong>óxicos/drogas</td>
                    <td>Antagonista específico:
                        <ul>
                            <li>Benzodiazepínicos: Flumazenil 0,2mg EV em 30s repetir com 0,3mg se não recuperar o nível de consciência</li>
                            <li>Opioide: naloxona 0,4-2mg EV. Repetir a cada 2min até efeito desejado Max 10mg. Criança 0,1mg/kg EV a cada 2-3min. Max 2mg</li>
                            <li>Cocaína (dor torácica): labetalol</li>
                            <li>Rocurônio: sugamadex</li>
                            <li>b-block: Glucagon. Adulto: 5-10mg EV em bólus. Criança: 0,05mg/kg EV. Repetir a cada 5 minutos até obter resposta</li>
                            <li>https://guiafarmaceutico.hsl.org.br/informacoes-de-apoio/intoxicacoes-e-antidotos</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>
{% endblock %}