{% extends 'base.html' %} {% block title %}Sedação e Intubação GA - {% endblock
%} {% block content %}
<div class="container">
  <section>
    <h2>Sequência rápida de intubação e sedação do paciente George Américo</h2>
    <label for="weight">Peso</label>
    <input id="weight" type="number" step="0.1" />
    <section>
      <h2>Indução</h2>
      <h3>Fentanil</h3>
      3mcg/kg EV >> <strong class="dynamic" id="dose_fentanil_inducao"></strong>
      <h3>Midazolam</h3>
      0,3mg/kg EV >> <strong class="dynamic" id="dose_midazolam_inducao"></strong>
      <h3>Succinilcolina</h3>
      1mg/kg EV >> <strong class="dynamic" id="dose_succinilcolina_inducao"></strong>
    </section>
    <section>
      <h2>Manutenção</h2>
      <h3>Fentanil</h3>
      0,5-5mcg/kg/hora EV >> <strong class="dynamic" id="dose_fentanil_manutencao"></strong>
      <h3>Midazolam</h3>
      20-600mcg/kg/hora EV >> <strong class="dynamic" id="dose_midazolam_manutencao"></strong>
      <h3>Noradrenalina</h3>
      É seguro fazer até 0,2-0,3mcg/kg/min (12-18mcg/kg/hora) em veias de maior calibre periférico (antecubitais/jugular
      externa) até cerca de 10h sem necessidade de acesso central EV >>
      PADRÃO: <strong class="dynamic" id="dose_noradrenalina_manutencao_padrao"></strong>
      CONCENTRADA: <strong class="dynamic" id="dose_noradrenalina_manutencao_concentrada"></strong>
      2X CONCENTRADA: <strong class="dynamic" id="dose_noradrenalina_manutencao_2x_concentrada"></strong>
    </section>
    <section>
      <h2>Procedimentos</h2>
      Propofol 4ml IV 2ml a cada 30s até conseguir tocar na córnea ou Fentanil 2ml + 3ml propofol
    </section>
    <table>
      <thead>
        <tr>
          <th>Diluição padrão local</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <h3>Fentanil</h3>
            <strong>Apresentação</strong>: Ampola de 10ml com 0.0785mg/ml de
            citrato de fentanila, corresponde à 0.05mg/ml de fentanila<br />
            <strong>Diluição</strong>: 4 ampolas com um total de 250ml de solução,
            ou seja, 4 ampolas em 210ml de SG 5%. >> 1 ampola: 10*0.05 = 0.5mg >>
            4 ampolas = 2mg em 250ml >> <strong>8mcg/ml</strong>
          </td>
        </tr>
        <tr>
          <td>
            <h3>Midazolam</h3>
            <strong>Apresentação</strong>: Ampola de 1ml com 5mg/ml midazolam<br />
            <strong>Diluição</strong>: 5 ampolas em um total de 250ml de solução,
            ou seja, 5 ampolas em 200ml de SG 5%. >> 5mg*5 ampolas = 25mg em 250ml >> <strong>0,1mg/ml</strong>
          </td>
        </tr>
        <tr>
          <td>
            <h3>Noradrenalina</h3>
            <strong>Apresentação</strong>: 8mg em 4ml <br />
            <strong>Diluição</strong>: PADRÃO: 1 ampola em 250ml >> <strong>32mcg/ml</strong>; CONCENTRADA: 2 ampolas em
            250ml >> <strong>64mcg/ml</strong>; 2x CONCENTRADA: 4 ampolas em 250ml >> <strong>128mcg/ml</strong>;
          </td>
        </tr>
        <tr>
          <td>
            <h3>Succinilcolina</h3>
            <strong>Apresentação</strong>: Frascos em pó de 100mg <br />
            <strong>Diluição</strong>: Diluir em 100ml de SF 0,9% <strong>1mg/ml</strong>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
{% endblock %} {% block scripts %}
<script src="/static/js/intubacao_sedacao_ga.js"></script>
{% endblock %}