{% extends 'base.html' %} {% block title %}Login - {% endblock
%} {% block content %}
<div class="container">
  <section>
    <form method="POST" action="/login">
      <div>
        {{ form.username.label }}: {{ form.username(class="css_class") }}
      </div>
      {% if form.username.errors %}
      <ul class="errors">
        {% for error in form.username.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}

      <div>{{ form.password.label }}: {{ form.password() }}</div>
      {% if form.password.errors %}
      <ul class="errors">
        {% for error in form.password.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      <button type="submit">Entrar</button>
    </form>
  </section>
</div>
{% endblock %} {% block scripts %}
{% endblock %}
